<template>
  <div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
                            <Link class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" :href="route('admin.blog.add')">Add new</Link>
         <div class="flex justify-between py-2" v-for="(post, index) in posts" :key="index">
             <p>{{post.title}}</p>
            <div class="flex gap-4">
                <Link class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" :href="route('admin.blog.edit', post.id)">Edit</Link>
                <Link class="inline-flex items-center justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:w-auto" as="button" method="post" :href="route('admin.blog.delete', post.id)">Delete</Link>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { inject } from '@vue/runtime-core';
import { Link } from '@inertiajs/inertia-vue3';
export default { layoutName: "Authenticated" };
</script>
<script setup>
const route = inject('route')
const props = defineProps({
    posts: {
        type: Array,
        default: null
    }
})

</script>
