<template>
  <div class="max-w-screen-lg w-full mx-auto mt-12">
    <h1 class="text-4xl text-black font-semibold pb-6">Blog</h1>
    <div class="mb-4" as="div" v-for="(post, index) in posts" :key="index">
      
        <div class="border-2 rounded-md p-4 hover:scale-105 duration-300">
          <p class="text-lg font-semibold">{{post.title}}</p>
          <p>{{post.description}}</p>
        </div>
    </div>
        
  </div>
</template>

<script setup>

const props = defineProps({
  posts: {
    type: Array,
    default: null,
  },
});
</script>
