<template>
    <div>
        <div class="flex flex-col divide-y-2 gap-4 mt-10 border-b-2 lg:border-0">
            <div class="grid grid-cols-3 gap-4 row-auto sm:frid-cols-5 xl:frid-cols-6 py-2 place-items-center">
                <img src="" alt="product image">
                <div>
                    <p>Product name</p>
                    <p>product.name</p>
                </div>
                <div>
                    <p>Price</p>
                    <p>product.price€</p>
                </div>
                <div>
                    <p>Quantity</p>
                    <form method="POST" onsubmit="event.preventDefault(); return updateItem(<?php echo($item->id) ?>, new FormData(event.target))">
                        <input type="number" name="qty" value="{{$item->quantity}}">
                        <button>update</button>
                    </form>
                </div>
                <div>
                    <p>Total</p>
                    <p>product.qty * $item->price€</p>
                </div>
                <div>
                    <p>Remove</p>
                    <button onclick="event.preventDefault(); return deleteItem(<?php echo($item->id) ?>)"></button>
                </div>
            </div>
        </div>
    </div>

    <div class=" max-w-screen-sm w-full mx-auto">
        <h1 class="text-xl pb-6 font-bold uppercase">Payment details</h1>
        <form class="space-y-4" id="payment-form">
          <div class="flex flex-col">
            <label class="font-bold" for="name">Cardholder name</label>
            <input oninput="clearErrors('name_error')"  name="name" class="w-full rounded focus:outline-none focus:border-gray-200 focus:ring-0 border-2 border-gray-200" type="text">
            <span class=" text-xs text-red-600" id="name_error"></span>
          </div>
          <div class="flex flex-col">
            <label  class="font-bold" for="email">E-mail</label>
            <input oninput="clearErrors('email_error')" name="email" class="w-full rounded focus:outline-none focus:border-gray-200 focus:ring-0 border-2 border-gray-200" type="text">
            <span class=" text-xs text-red-600" id="email_error"></span>
          </div>
          <div class="flex items-center w-full">
            <hr class="w-1/2 ">
            <p class="px-4 uppercase font-bold text-gray-400 whitespace-nowrap">Card details</p>
            <hr class="w-1/2">
          </div>
          <div class="border-2 border-gray-200 py-2.5 px-2.5 rounded" id="card-element"><!--Stripe.js injects the Card Element--></div>
              <button class="border-2 border-black w-full mt-2 bg-black hover:bg-white hover:text-black text-white py-2 rounded-sm duration-300" id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span class=" font-bold" id="button-text">Pay {{total}}€</span>
              </button>
              <p id="card-error" role="alert"></p>
              <p class="result-message hidden">
                Payment succeeded, see the result in your
                <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
              </p>
            </form>
      </div>

</template>

<script setup>

  const props = defineProps({
          products: {
              type: Object,
              default: null
              }
      })


/*     const stripe = Stripe("pk_test_51Kgpv9KtAGrPn33BoE7iit2Xt8ASU9jsdziVARoYw5BgKQDnRTwUFu4VhB7sfcOC5kfwrP3kKYibVg9Ei10BSWCp00AhYgu2UK")
    const elements = stripe.elements();
    var style = {
      base: {
        color: "#32325d",
        fontFamily: 'Arial, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "16px",
        "::placeholder": {
          color: "#32325d"
        }
      },
      invalid: {
        fontFamily: 'Arial, sans-serif',
        color: "#fa755a",
        iconColor: "#fa755a"
      }
    };
    const card = elements.create("card", { style: style });
    card.mount("#card-element");
    const form = document.getElementById("payment-form");
    const nameError = document.getElementById('name_error')
    const emailError = document.getElementById('email_error')


    form.addEventListener("submit", async (event) =>  {
        event.preventDefault();
        const formData = new FormData(event.target)
        axios.post('/pay', formData)
          .then((res)=>{
            handleSubmit(res.data.paymentIntent)
        })
        .catch((err) => {
          err.response.data.errors?.name ? nameError.innerText = err.response.data.errors.name[0] : ''
          err.response.data.errors?.email ? emailError.innerText = err?.response.data.errors.email[0] : ''
        });
    });


    const handleSubmit = async (pi) => {
        await stripe.confirmCardPayment(pi.client_secret, {
            payment_method: {
                card: card
                }
            })
            .then(res  => {
            if(res.paymentIntent.status === 'succeeded')
            axios.post('/success')
            .then(window.location.replace('/'));
        })
    }

const clearErrors = (id) => document.getElementById(id).innerText = ''

 */
</script>