<template>
    <div class="flex justify-center">
        <h1 class="uppercase text-5xl">Find a dealer</h1>
    </div>
    <NewNewMaps :locations="locations"/>
</template>

<script setup>

    const props = defineProps({
            locations: {
                type: Array,
                default: null
                }
        });

</script>
