<template>
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-5xl font-bold">EXPLORE THE DRUM RANGE</h1>
        <p class="text-2xl mb-8">CYMBALS</p>
    </div>
    <div class="grid gap-8 p-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
        <a :href="route('product.details', product.id)" v-for="(product, index) in products" :key="index" class="hover:bg-neutral-300 hover:cursor-pointer bg-neutral-200 hover:scale-105 duration-300 p-4 w-full h-96 rounded-xl flex flex-col justify-between">
            <img :src="product.img_path" alt="">
            <div>
                <h1 class="text-2xl text-center">{{product.name}}</h1>
                <h1 class="text-2xl font-semibold text-center">{{product.price.formatted}}</h1>
            </div>
        </a>
    </div>
</template>

<script setup>
    import { inject } from 'vue'
    import { Inertia } from '@inertiajs/inertia';


    const props = defineProps({
        products: {
            type: Object,
            default: null
            }
    })

    const route = inject('route');

</script>