<template>
    <div class="py-4">
        <h1 class="text-4xl text-center font-semibold">{{product.name}}</h1>
        <div class="grid grid-cols-2 items-center p-8">
            <div class="flex justify-center items-center">
                <img :src="product.img_path" class="w-3/4">
            </div>
            <div class="flex justify-center">
                <div class="flex flex-col">
                    <p class="px-3 py-4 text-2xl text-center">{{product.description}}</p>
                    <div class="flex flex-col items-center pt-4">
                        <p class="text-2xl font-semibold px-4">{{product.price.formatted}}</p>
                        <button class="px-4 border-2 border-black bg-black text-white uppercase font-semibold rounded-full h-9 hover:bg-white hover:text-black duration-300">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>

    const props = defineProps({
        product: {
            type: Object,
            default: null
            }
    })

</script>