<template>
  <div class="flex items-center justify-center gap-2 text-2xl py-14 font-semibold" v-if="data">
    <img :src="weatherIcon" alt="" />
    <p class="font-semibold">{{data.name}}</p>
    <p><span class="font-normal">temp: </span>{{data.main.temp}}℃</p>
    <p><span class="font-normal">feels like: </span>{{data.main.feels_like}}℃</p>
    <p><span class="font-normal">Description: </span>{{data.weather[0].description}}</p>
    <p><span class="font-normal">Wind: </span>{{data.wind.speed}}m/s</p>

  </div>
</template>

<script setup>

  import { computed } from "@vue/runtime-core";

  const props = defineProps({
    data: Object,
    default: null,
  });

  const weatherIcon = computed(
    () => `https://openweathermap.org/img/w/${props.data?.weather[0].icon}.png`
  );
  // console.log(props.data)


</script>
