<template>
    <footer class="font-semibold">
        <div class="flex flex-col md:grid md:grid-cols-2 max-w-screen p-12">
            <div class="uppercase pl-[8vw] flex gap-y-4 flex-col justify-center items-start pb-8 md:pb-0">
                <Link class="hover:border-b-2 hover:border-black duration-200" :href="route('contact')">Contact Us</Link>
                <a class="hover:border-b-2 hover:border-black duration-200" href="">Help & Support</a>
                <a class="hover:border-b-2 hover:border-black duration-200" href="">Returns & Warranty</a>
                <a class="hover:border-b-2 hover:border-black duration-200" href="">Terms & Conditions</a>
                <a class="hover:border-b-2 hover:border-black duration-200" href="">Privacy Policy</a>
            </div>
            <div class="flex flex-col gap-y-4">
                <div class="text-left">
                    <p class="text-[24px] font-bold">STAY UP TO DATE</p>
                    <p class="text-[16px]">Sign up and receive all the latest news and offers directly to your inbox.</p>
                </div>
                <div class="border-2 rounded-full h-[10vh] w-11/12 flex items-center justify-between">
                    <input class="outline-none h-[10vh] w-11/12 bg-inherit font-bold pl-8 placeholder:text-black" placeholder="ENTER YOUR EMAIL">
                    <button class="border-2 border-black rounded-full text-center font-bold px-[3.5vw] py-5 bg-black text-white hover:bg-inherit hover:text-black hover:border-2 hover:border-black duration-500">SUBMIT</button>
                </div>
                <div class="flex flex-row gap-x-4">
                    <p class="text-[16px]">FOLLOW US</p>
                    <a href="https://www.instagram.com/paistecymbals/?hl=en" target="#"><Instagram /></a>
                    <a href="https://twitter.com/PaisteNation" target="#"><Twitter /></a>
                    <a href="https://www.facebook.com/paistecompany/" target="#"><Facebook /></a>
                    <a href="https://www.youtube.com/channel/UC1F5S6gl2-dTch-TZ2q4b9Q" target="#"><Youtube /></a>
                </div>
            </div>
        </div>
        <div class="flex justify-center ">
            <p class="">© 2022 Paiste • All Rights Reserved</p>
        </div>
    </footer>
</template>

<script setup>

    import { inject } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';
  
    const route = inject('route');

</script>