<template>
   <header class="h-48 font-semibold bg-[#]">
    <div class="h-16 border-b-2 border-black flex justify-between">
      <div class="h-16 w-32 translate-y-1/2 flex justify-center items-center text-center ml-6">
        <Link :href="route('home')"><img src="https://www.paiste.com/en/assets/components/phpthumbof/cache/Paiste_Logo_Black_RGB.c6eb0a83d870fce43304048061eed4c3.png" class="w-24" alt="logo"></Link>
      </div>
      <div class="uppercase h-full w-fit flex justify-center items-center gap-5 text-lg">
        <Link :href="route('blog')" class="hover:text- h-16 items-center flex px-4 duration-500">Blog</Link>
        <Link :href="route('weather')" class="hover:text- h-16 items-center flex px-4 duration-500">Weather</Link>
        <Link :href="route('contact')" class="hover:text- h-16 items-center flex px-4 duration-500">Contact Us</Link>
        <a href="" class="hover:text- h-16 items-center flex px-4 duration-500">Help & Support</a>
      </div>
    </div>
    <div class="h-32 text-2xl flex justify-around px-8 md:px-0">
      <div class="w-full flex justify-center items-center md:gap-10">
        <Link :href="route('home')" class="hover:bg-black hover:text-white p-4 duration-500">HOME</Link>
        <Link :href="route('product.index')" class="hover:bg-black hover:text-white p-4 duration-500">PRODUCTS</Link>
        <Link :href="route('dealers')" class="hover:bg-black hover:text-white p-4 duration-500">FIND A DEALER</Link>
      </div>
      <div class=" md:flex items-center justify-center">
        <Link :href="route('cart')" class="hover:bg-black hover:text-white p-4 duration-500"><ShoppingCartIcon class="w-8" /></Link>
      </div>
    </div>
  </header>
</template>

<script setup>
  import { inject } from 'vue'
  import { Link } from '@inertiajs/inertia-vue3';
  import { ShoppingCartIcon } from '@heroicons/vue/outline';
  
  const route = inject('route');
</script>