<template>
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="30px" height="30px"><path fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="2" d="M11.455,26h9.091C23.558,26,26,23.558,26,20.545v-9.091C26,8.442,23.558,6,20.545,6h-9.091C8.442,6,6,8.442,6,11.455v9.091C6,23.558,8.442,26,11.455,26z"/><path fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="2" d="M16 11A5 5 0 1 0 16 21A5 5 0 1 0 16 11Z"/><path d="M21.909 9.181999999999999A0.909 0.909 0 1 0 21.909 11A0.909 0.909 0 1 0 21.909 9.181999999999999Z"/></svg>
</template>