<template>
     <div class="grid grid-cols-2 mt-8">
        <div class="flex flex-col w-full overflow-y-scroll h-[40vw]">
            <div v-for="(location, index) in locations" :key="index" :class="state.activeLocation === location.id ? 'bg-green-500' :''" @click="longLat(location)" class="border-2 border-gray-500 my-2 py-2 px-4 rounded-md mx-10 text-center hover:cursor-pointer">
                <p>{{location.name}}</p>
                <p>{{location.street}}</p>
                <p>{{location.zip_code}}</p>
                <p>{{location.city}}, {{location.country}}</p>
                <a :href="location.url" target="_blank" class="font-semibold hover:text-white">View page</a>
            </div>
        </div>
        <div id="map" ref="map" class="h-full w-full"></div>
      </div>
</template>

<script setup>
    import { Loader } from "@googlemaps/js-api-loader";
    import { MarkerClusterer } from "@googlemaps/markerclusterer";
    import { reactive, ref, watch } from "vue";

    const props = defineProps({
            locations: {
                type: Array,
                default: null
                }
        });

        // console.log(props.locations)
    let markers = [];
    let map = ref(null);
    let markerCluster = ref(null);

    const state = reactive({
        activeLocation: null,
        clickedAddress: null
    })

    const emits = defineEmits(["updateActive"]);
    const loader = new Loader({
        apiKey: "",
        version: "weekly",
    });


    loader.load().then(() => {
        let myLatLng = { lat: 58.5974875, lng: 24.9872555 };
        map = new google.maps.Map(map.value, {
            zoom: 7,
            center: myLatLng,
        });
        const setMapOnAll = (map) => {
            for (let i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        };
        const addNewMarker = (position, id) => {
            var marker = new google.maps.Marker({
                map: map,
                position: position,
            });
            marker.addListener("click", () => {
                map.panTo(position);
                map.setZoom(18);
                state.activeLocation = id
            });
            markers.push(marker);
            markerCluster.addMarker(marker);
        };
        const createLongLat = (position) => {
            return position.map((location) => {
                return {
                    point: { lng: parseFloat(location.longitude), lat: parseFloat(location.latitude) },
                    id: location.id,
                };
            });
        };

        // console.log(createLongLat(props.locations))

        
        const loadMarkers = (filterValue) => {
            setMapOnAll(null);
            markerCluster.clearMarkers();
            const latLang = createLongLat(props.locations);
            // console.log(latLang)
            latLang.forEach((position) => {
                addNewMarker(position.point, position.id);
            });
        };
        markerCluster = new MarkerClusterer({ map, markers });
        loadMarkers(props.activeTab);
        watch(
            () => state.clickedAddress,
            (newValue, oldValue) => {
                navigateToMarker(newValue);
            }
        );
        watch(
            () => props.content,
            (newValue, oldValue) => {
                loadMarkers(newValue, map);
            }
        );
        const navigateToMarker = (latLang) => {
            map.setZoom(18);
            map.panTo(latLang);
        };
    });

    const longLat = (location) => {
        state.clickedAddress = {lng: parseFloat(location.longitude), lat: parseFloat(location.latitude) }
    }
</script>
