<template>
    <form class="flex flex-col bg-white rounded my-5 px-8" @submit.prevent="submit">
        <label for="name">Name</label>
        <input v-model="form.name" class="border-2 border-black rounded-lg h-8">
        <label for="description">Description</label>
        <textarea  v-model="form.description" class="border-2 border-black rounded-lg"></textarea>
        <label for="img_path">Image URL</label>
        <input v-model="form.img_path" class="border-2 border-black rounded-lg h-8">
        <div class="flex flex-col md:grid md:grid-cols-2 md:gap-4 mb-4">
            <div class="flex flex-col w-full">
                <label for="price">Price</label>
                <input type="number" v-model="form.price" class="border-2 border-black rounded-lg h-8" placeholder="Eur">
            </div>
            <div class="flex flex-col w-full">
                <label for="qty">Quantity</label>
                <input type="number" v-model="form.qty" class="border-2 border-black rounded-lg h-8">
            </div>
        </div>

        <button type="submit" class="items-center justify-center rounded-lg bg-indigo-600 px-4 py-2 text-base text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
            Submit
        </button>
    </form>
</template>

<script setup>
import { useForm } from "@inertiajs/inertia-vue3"
import { inject } from "@vue/runtime-core"
    
    const route = inject("route")
    
    const form = useForm({
        name: "",
        description: "",
        img_path: "",
        price: null,
        qty: null
    })

    const submit = () => {
        form.post(route("admin.product.store"), {
            onSuccess: () => form.reset()
        })
    }

</script>