<template>
     <div class="py-12">
         <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
             <form class="flex flex-col bg-white rounded my-5 px-8" @submit.prevent="submit">
                <label for="name">Name</label>
                <input v-model="form.name" class="border-2 border-black rounded-lg h-8">
                <label for="description">Description</label>
                <textarea  v-model="form.description" class="border-2 border-black rounded-lg"></textarea>
                <label for="img_path">Image URL</label>
                <input v-model="form.img_path" class="border-2 border-black rounded-lg h-8">
                <div class="flex flex-col md:grid md:grid-cols-2 md:gap-4 mb-4">
                    <div class="flex flex-col w-full">
                        <label for="price">Price</label>
                        <input type="number" v-model="form.price" class="border-2 border-black rounded-lg h-8" placeholder="Eur">
                    </div>
                    <div class="flex flex-col w-full">
                        <label for="qty">Quantity</label>
                        <input type="number" v-model="form.qty" class="border-2 border-black rounded-lg h-8">
                    </div>
                </div>
                <button type="submit" class="items-center justify-center rounded-lg bg-indigo-600 px-4 py-2 text-base text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
                    Submit
                </button>
                 </form>
         </div>
     </div>
</template>

<script>
    export default {
        layoutName: 'Authenticated'
    }       
</script>

<script setup>

    import { useForm, Link } from "@inertiajs/inertia-vue3"
    import { inject } from "@vue/runtime-core"
    import { Inertia } from '@inertiajs/inertia'


    const props = defineProps({
        product: {
            type: Object,
            default: null
        }
    })

    const route = inject("route")

    const form = useForm({
        name: props.product.name ?? "",
        description: props.product.description ?? "",
        img_path: props.product.img_path ?? "",
        price: props.product.price.amount ?? null,
        qty: props.product.qty ?? null
    })

    const submit = () => {
        form.post(route('admin.product.update', props.product.id))
    }
</script>