<template>
     <form class="grid grid-cols-1 px-20 bg-white rounded my-5" @submit.prevent="submit">
        <label for="name">Name</label>
        <input type="text" v-model="form.name" class="border-2 border-black rounded-lg">
        <label for="street">Street</label>
        <input type="text" v-model="form.street" class="border-2 border-black rounded-lg">
        
        <label for="city">City</label>
        <input type="text" v-model="form.city" class="border-2 border-black rounded-lg">
        <label for="country">Country</label>
        <input type="text" v-model="form.country" class="border-2 border-black rounded-lg">
        <label for="url">Website URL</label>
        <input type="text" v-model="form.url" class="border-2 border-black rounded-lg">
        <div class="flex flex-col md:grid md:grid-cols-3 md:gap-4">
            <div class="flex flex-col w-full">
                <label for="lat">Latiude</label>
                <input type="number" step="any" v-model="form.latitude" class="border-2 border-black rounded-lg">
            </div>
            <div class="flex flex-col w-full">
                <label for="lng">Longitude</label>
                <input type="number" step="any" v-model="form.longitude" class="border-2 border-black rounded-lg">
            </div>
            <div class="flex flex-col w-full">
                <label for="zip_code">Zip code</label>
        <input type="number" v-model="form.zip_code" class="border-2 border-black rounded-lg">
            </div>
        </div>
        <button type="submit" class="inline-flex items-center justify-center rounded-lg border border-transparent bg-indigo-600 px-4 mt-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
            Submit
        </button>
    </form>
</template>

<script>
    export default {
        layoutName: 'Authenticated'
    }       
</script>

<script setup>

    import { useForm, Link } from "@inertiajs/inertia-vue3"
    import { inject } from "@vue/runtime-core"
    import { Inertia } from '@inertiajs/inertia'


    const props = defineProps({
        location: {
            type: Object,
            default: null
        }
    })

    const route = inject("route")

    const form = useForm({
        name: props.location.name ?? "",
        street: props.location.street ?? "",
        zip_code: props.location.zip_code ?? "",
        city: props.location.city ?? "",
        country: props.location.country ?? "",
        url: props.location.url ?? "",
        latitude: props.location.latitude ?? null,
        longitude: props.location.longitude ?? null
    })

    const submit = () => {
        form.post(route('admin.locations.update', props.location.id))
    }
</script>