<template>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">Locations</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all the locations including their name, street, zip code, city and website URL.</p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <Link :href="route('admin.locations.create')" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Add Location</Link>
      </div>
    </div>
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Street</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Zip code</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">City</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Country</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Website URL</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Latitude</th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Longiude</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                  </th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Delete</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr v-for="(location, index) in locations" :key="index">
                  <td class="px-3 py-4 text-sm text-gray-900 font-semibold">{{ location.name }}</td>
                  <td class="px-3 py-4 text-sm text-gray-500">{{ location.street }}</td>
                  <td class="px-3 py-4 text-sm text-gray-500">{{ location.zip_code }}</td>
                  <td class="px-3 py-4 text-sm text-center text-gray-500">{{ location.city }}</td>
                  <td class="px-3 py-4 text-sm text-center text-gray-500">{{ location.country }}</td>
                  <td class="px-3 py-4 text-sm text-center text-gray-500">{{ location.url }}</td>
                  <td class="px-3 py-4 text-sm text-center text-gray-900 font-semibold">{{ location.latitude }}</td>
                  <td class="px-3 py-4 text-sm text-center text-gray-900 font-semibold">{{ location.longitude }}</td>
                  <td class="relative py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                    <Link :href="route('admin.locations.edit', location.id)" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">EDIT</Link>
                  </td>
                  <td class="relative py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                    <button @click="deleteLocation(location.id)" class="inline-flex items-center justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:w-auto">DELETE</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


 

<script>
    export default {
        layoutName: 'Authenticated'
    }       
</script>

<script setup>
    import { useForm, Link } from "@inertiajs/inertia-vue3"
    import { inject } from "@vue/runtime-core"
    import { Inertia } from '@inertiajs/inertia'

    const props = defineProps({
        locations: {
            type: Object,
            default: null
        }
    })
    
    const route = inject("route")

    const deleteLocation = (id) => {
        Inertia.post(route('admin.locations.destroy', id))
    }

    const updateLocation = (id) => {
        Inertia.get(route('admin.location.update', id))
    }
    
    const form = useForm({
        id: "required",
    })

</script>

