<template>
<div class="min-h-screen flex flex-col">
    <main class="font-sans antialiased flex flex-col flex-1">
        <Header />
        <slot></slot>
        <Footer />
    </main>
</div>
</template>
